.page_rec {
    padding: 20px;
}

.search_input {
    background: var(--tabs-color);
    padding: 3px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 6px 2px rgba(6, 6, 6, 0.08);
    padding-right: 9px;
    padding-left: 9px;
    transition: all 0.1s ease-in-out;

    #icon-spinner {
        animation: spin 1s linear infinite;
    }


    input {
        width: 100%;
        background: none;
        color: inherit;
        border: none;
        outline: none;
        font-weight: 300;
        font-size: 1rem;
        font-family: sans-serif;

        &::-ms-clear {
            display: none;
        }
        &::-webkit-search-cancel-button {
            display: none;
          }
    }

    button {
        background: transparent;
        border: none;
        color: inherit;
        padding: 6px;
        cursor: pointer;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: rgba(128, 128, 128, 0.092);
        }
    }

}




@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }