.shop {
    margin-top: 80px;

    .callToAction {
        background-color: var(--faded-color);
        padding: 12px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 6px;
    }

}